.App {
  text-align: center;
}

.btn {
  background-color: rgba(0, 112, 201, 0.9);
}

.pillNav.active {
  background-color: rgba(0, 112, 201, 0.9) !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.19);
}

.thead {
  background-color: rgba(0, 112, 201, 0.9);
  color: white;
}


#navBar {
  padding-top: 10px;
}

.nav-item {
  color: rgb(0, 0, 0);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
